Presentation.CMS/Web References/WebServiceClient/Browser.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Version">
        <s:complexType />
      </s:element>
      <s:element name="VersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDirectory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddDirectoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddDirectoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameDirectoryName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name_old" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name_new" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameDirectoryNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenameDirectoryNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameDirectory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name_new" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameDirectoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenameDirectoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDirectory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDirectoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteDirectoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDirectoryName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteDirectoryNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteDirectoryNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDirectory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDirectoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDirectoryResult" type="tns:BrowserDirectory" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BrowserDirectory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastAccessTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastWriteTimeUTC" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="SubDirectories" type="tns:ArrayOfBrowserDirectory" />
          <s:element minOccurs="0" maxOccurs="1" name="Files" type="tns:ArrayOfBrowserFile" />
          <s:element minOccurs="0" maxOccurs="1" name="Error" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBrowserDirectory">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BrowserDirectory" nillable="true" type="tns:BrowserDirectory" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfBrowserFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BrowserFile" nillable="true" type="tns:BrowserFile" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BrowserFile">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Extension" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Length" type="s:long" />
          <s:element minOccurs="1" maxOccurs="1" name="ReadOnly" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="CreationTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastAccessTimeUTC" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="LastWriteTimeUTC" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="JSON">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="JSONResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="JSONResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="f" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name_old" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name_new" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RenameFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="RenameFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_path_to_file" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_dir" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFileNameResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Exists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="_wid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="_wval" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_site_relative_path" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ExistsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="VersionSoapIn">
    <wsdl:part name="parameters" element="tns:Version" />
  </wsdl:message>
  <wsdl:message name="VersionSoapOut">
    <wsdl:part name="parameters" element="tns:VersionResponse" />
  </wsdl:message>
  <wsdl:message name="AddDirectorySoapIn">
    <wsdl:part name="parameters" element="tns:AddDirectory" />
  </wsdl:message>
  <wsdl:message name="AddDirectorySoapOut">
    <wsdl:part name="parameters" element="tns:AddDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="RenameDirectoryNameSoapIn">
    <wsdl:part name="parameters" element="tns:RenameDirectoryName" />
  </wsdl:message>
  <wsdl:message name="RenameDirectoryNameSoapOut">
    <wsdl:part name="parameters" element="tns:RenameDirectoryNameResponse" />
  </wsdl:message>
  <wsdl:message name="RenameDirectorySoapIn">
    <wsdl:part name="parameters" element="tns:RenameDirectory" />
  </wsdl:message>
  <wsdl:message name="RenameDirectorySoapOut">
    <wsdl:part name="parameters" element="tns:RenameDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDirectorySoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDirectory" />
  </wsdl:message>
  <wsdl:message name="DeleteDirectorySoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteDirectoryNameSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteDirectoryName" />
  </wsdl:message>
  <wsdl:message name="DeleteDirectoryNameSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteDirectoryNameResponse" />
  </wsdl:message>
  <wsdl:message name="GetDirectorySoapIn">
    <wsdl:part name="parameters" element="tns:GetDirectory" />
  </wsdl:message>
  <wsdl:message name="GetDirectorySoapOut">
    <wsdl:part name="parameters" element="tns:GetDirectoryResponse" />
  </wsdl:message>
  <wsdl:message name="JSONSoapIn">
    <wsdl:part name="parameters" element="tns:JSON" />
  </wsdl:message>
  <wsdl:message name="JSONSoapOut">
    <wsdl:part name="parameters" element="tns:JSONResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="RenameFileSoapIn">
    <wsdl:part name="parameters" element="tns:RenameFile" />
  </wsdl:message>
  <wsdl:message name="RenameFileSoapOut">
    <wsdl:part name="parameters" element="tns:RenameFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileNameSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFileName" />
  </wsdl:message>
  <wsdl:message name="DeleteFileNameSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileNameResponse" />
  </wsdl:message>
  <wsdl:message name="ExistsSoapIn">
    <wsdl:part name="parameters" element="tns:Exists" />
  </wsdl:message>
  <wsdl:message name="ExistsSoapOut">
    <wsdl:part name="parameters" element="tns:ExistsResponse" />
  </wsdl:message>
  <wsdl:portType name="BrowserSoap">
    <wsdl:operation name="Version">
      <wsdl:input message="tns:VersionSoapIn" />
      <wsdl:output message="tns:VersionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddDirectory">
      <wsdl:input message="tns:AddDirectorySoapIn" />
      <wsdl:output message="tns:AddDirectorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameDirectoryName">
      <wsdl:input message="tns:RenameDirectoryNameSoapIn" />
      <wsdl:output message="tns:RenameDirectoryNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameDirectory">
      <wsdl:input message="tns:RenameDirectorySoapIn" />
      <wsdl:output message="tns:RenameDirectorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <wsdl:input message="tns:DeleteDirectorySoapIn" />
      <wsdl:output message="tns:DeleteDirectorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectoryName">
      <wsdl:input message="tns:DeleteDirectoryNameSoapIn" />
      <wsdl:output message="tns:DeleteDirectoryNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDirectory">
      <wsdl:input message="tns:GetDirectorySoapIn" />
      <wsdl:output message="tns:GetDirectorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="JSON">
      <wsdl:input message="tns:JSONSoapIn" />
      <wsdl:output message="tns:JSONSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RenameFile">
      <wsdl:input message="tns:RenameFileSoapIn" />
      <wsdl:output message="tns:RenameFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFileName">
      <wsdl:input message="tns:DeleteFileNameSoapIn" />
      <wsdl:output message="tns:DeleteFileNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <wsdl:input message="tns:ExistsSoapIn" />
      <wsdl:output message="tns:ExistsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BrowserSoap" type="tns:BrowserSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap:operation soapAction="http://tempuri.org/Version" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDirectory">
      <soap:operation soapAction="http://tempuri.org/AddDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameDirectoryName">
      <soap:operation soapAction="http://tempuri.org/RenameDirectoryName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameDirectory">
      <soap:operation soapAction="http://tempuri.org/RenameDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <soap:operation soapAction="http://tempuri.org/DeleteDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectoryName">
      <soap:operation soapAction="http://tempuri.org/DeleteDirectoryName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectory">
      <soap:operation soapAction="http://tempuri.org/GetDirectory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JSON">
      <soap:operation soapAction="http://tempuri.org/JSON" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameFile">
      <soap:operation soapAction="http://tempuri.org/RenameFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFileName">
      <soap:operation soapAction="http://tempuri.org/DeleteFileName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap:operation soapAction="http://tempuri.org/Exists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BrowserSoap12" type="tns:BrowserSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Version">
      <soap12:operation soapAction="http://tempuri.org/Version" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDirectory">
      <soap12:operation soapAction="http://tempuri.org/AddDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameDirectoryName">
      <soap12:operation soapAction="http://tempuri.org/RenameDirectoryName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameDirectory">
      <soap12:operation soapAction="http://tempuri.org/RenameDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectory">
      <soap12:operation soapAction="http://tempuri.org/DeleteDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDirectoryName">
      <soap12:operation soapAction="http://tempuri.org/DeleteDirectoryName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDirectory">
      <soap12:operation soapAction="http://tempuri.org/GetDirectory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="JSON">
      <soap12:operation soapAction="http://tempuri.org/JSON" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenameFile">
      <soap12:operation soapAction="http://tempuri.org/RenameFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFileName">
      <soap12:operation soapAction="http://tempuri.org/DeleteFileName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exists">
      <soap12:operation soapAction="http://tempuri.org/Exists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Browser">
    <wsdl:port name="BrowserSoap" binding="tns:BrowserSoap">
      <soap:address location="http://localhost:52532/Browser.asmx" />
    </wsdl:port>
    <wsdl:port name="BrowserSoap12" binding="tns:BrowserSoap12">
      <soap12:address location="http://localhost:52532/Browser.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>